{% extends "base.html" %}
{% block content %}

    {% include 'includes/google_adwords.html' %}

    {% if articles %}
<div class="centered-div">
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h5 class="header-date">{{ article.date.strftime("%b %d, %Y") }},</h5>
                <h1 class="header-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="well well-sm">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">
                    <h5 class="header-summary"> {{ article.summary }}</h5>
                    <!--<a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>-->
                </div>
            </article>
        {% endfor %}
    {% endif %}

    <div class="text-center">
        {% include 'includes/pagination.html' %}
    </div>

{% endblock content %}
