<article>
    <h2 class="header-title text-center">{{ article.title }}</h2>

    <div class="entry-content">
        {% if article.title != 'About' %}
        <h5 class="article-date text-center">
            <time datetime="{{ article.date.strftime('%b %d, %Y') }}"> {{ article.date.strftime("%b %d, %Y") }}&nbsp;</time>
            <span class="category-tag">{{ article.category }}</span>

        </h5>
        {% endif %}

        {{ article.content }}

        {% if article.title != 'About' %}
            <br>
            {% include 'includes/social_media.html' %}
        {% endif %}
    </div>
</article>
{% if (page_name == 'index') %}
    {% include "footer_index.html" %}
{% else %}
    {% include "footer_article.html" %}
{% endif %}
