<article>
    <h2 class="header-title text-center">{{ article.title }}</h2>

    <div class="entry-content">
        <h5 class="article-date text-center">
            {% if (page_name == 'index') %}
                <span class="category-newtag"> new </span>
            {% else %}
                <time datetime="{{ article.date.strftime('%b %d, %Y') }}"> {{ article.date.strftime("%b %d, %Y") }}&nbsp;</time>
            {% endif %}
            <span class="category-tag"> {{ article.category }} </span>
        </h5>
        {{ article.content }}
    </div>
</article>

{% if (page_name == 'index') %}
    {% include "footer_index.html" %}
{% else %}
    {% include "footer_article.html" %}
{% endif %}
