<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">

<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name=”description” content="Random data analysis articles along with an educational web comic series by Chris Miller">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ SITEURL }}/assets/favicon.ico">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.paper.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/header-clean.css">
</head>
<body>
<header class="header-clean">
    <div class="container">
	<div class="header-limiter">
		<h1> <a href="{{ SITEURL }}/">Randomly<span class="unique-color">Unique</span></a></h1>
		<nav>
            {% for nav_category, nav_articles in dict(categories)|dictsort() %}
                <a {% if (nav_category._name == category) %} class="selected" {% endif %} href="{{ SITEURL }}/category/{{nav_category}}.html">
                    {{ nav_category|title}}
                </a>
            {% endfor %}
		</nav>
	</div>
    </div>
</header>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% include 'includes/ga.html' %}
</body>

<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
<script src="{{ SITEURL }}/theme/js/rrssb.min.js"></script>

</body>
</html>
