<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock %}">


<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ SITEURL }}/assets/favicon.ico">
    <link rel="stylesheet"
          href="{{ SITEURL }}/theme/css/bootstrap.paper.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments-friendly.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
</head>
<body>

<nav class="navbar-default navbar-fixed-top">
    <div class="container">
        <div class="col-md-12">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ SITEURL }}/" class="navbar-brand">
                    Randomly<span style="color: #0a7bff">Unique</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                {% if article %}
                    {% set current_cat = article.category %}
                {% else %}
                    {% if 'bored' in page_name or 'index' in page_name %}
                        {% set current_cat = 'bored' %}
                    {% endif %}
                    {% if 'plancky' in page_name %}
                        {% set current_cat = 'plancky' %}
                    {% endif %}
                {% endif %}

                {% for category, arts in categories %}
                    {% if category._name  == 'bored' %}
                    <li {% if category._name == current_cat %} class="active"{% endif %}>
                        <a href="{{ SITEURL }}/{{ arts[0].url }}">The Bored Data Scientist</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% for category, arts in categories %}
                    {% if category._name  == 'About' %}
                    <li {% if category._name == current_cat %} class="active"{% endif %}>
                        <a href="{{ SITEURL }}/{{ arts[0].url }}">
                            About
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <hr class="fading">
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% include 'includes/social-media.html' %}
{% include 'includes/ga.html' %}
</body>

<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
<script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

</body>
</html>
