{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}

{% block content %}
    <section id="content">
        <h3 class="header-title text-center">{{ category._name|title }} Archives</h3>

        {% if (category._name == 'data') %}
            <h6 class="text-center">A Data Science Inspired Series Capitalising on my Ample Free Weekends</h6>
        {% else %}
            <h6 class="text-center">A Web Comic Series Explaining Physics, Math, and Devices with a Bit of Vigor</h6>
        {% endif %}
        <br>

        <div id="archives">
            {% for article in articles %}
                <p class="article-text">
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>:
                    <span class="category-tag">{{ article.date.strftime("%b %d, %Y") }}</span>
                    {{ article.summary|striptags }}
                </p>
            {% endfor %}
        </div>
    </section>
    <br><br>
{% endblock %}
