{% extends "base.html" %}
{% block title %}{{ category._name|title }} Archives - {{ SITENAME }}{% endblock %}

{% block content %}
    <div class="entry-content">
        <h3 class="header-title text-center">{{ category._name|title }} Archives</h3>

        {% if (category._name == 'data') %}
            <h6 class="text-center">A Data Science Inspired Series Capitalising on my Ample Free Weekends</h6>
        {% else %}
            <h6 class="text-center">A Web Comic Series Explaining Physics, Math, and Devices with a Bit of Vigor</h6>
        {% endif %}
        <br>

        {% for article in articles %}
            {% include 'includes/thumbnail_list.html'  %}
        {% endfor %}
    </div>
    <br><br>
{% endblock %}
