<div class="entry-content">
    <hr>
    <h2 class="header-title text-center">Recent Posts</h2>

    {% for category, arts in categories %}
        {% if arts[0] == articles[0] %}
            {% set article = arts[1] %}
        {% else %}
            {% set article = arts[0] %}
        {% endif %}
        {% include 'includes/thumbnail_list.html'  %}
    {% endfor %}

    <hr>
    <h2 class="header-title text-center">About</h2>

    <div class="row vertical-align">
        <div class="col-sm-4 hidden-xs" >
            <img src="/assets/common/chelsea-and-me.jpg" width="300" class="image_center_style">
        </div>

        <div class="col-sm-8 col-xs-12">
            <p>Hi, I'm Chris and I'm a Data Scientist living in Canada with my wonderful wife and occasionally wonderful Shih Tzu, Bubba.
            I'm always on the lookout for cool new experiences, so feel free to send a message! <a class="nounderline" href="mailto:donotbugchris@gmail.com"><i class="fa fa-envelope"></i></a></p>
            <div>
                <p><span style="font-weight: bold">Professional Interests</span>: Data Science, Sustainability</p>
                <p><span style="font-weight: bold;">Personal Interests</span>: Gaming, Biking, Piano, Epic Fantasy</p>
                <p><span style="font-weight: bold;">Primary Disinterests</span>: Pursuing a Second PhD, Moving Back to San Francisco, Multi-Origin Non-Esoteric Coffee</p>
                <p><span style="font-weight: bold;">Cookie Interests</span>: Chocolate Chip, Crackle, Gingersnap</p>
            </div>
        </div>
    </div>
</div>
